<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/icons/agregar-usuario.png" alt="agregar usuarios" width="100"
                        height="100">
                </div>
                <h1 class="text-center">Registrate Aqui</h1>
                <form action="">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input type="text" matInput placeholder="Digite su nombre">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Apellido</mat-label>
                        <input type="text" matInput placeholder="Digite su apellido">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Digite su email">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Telefono</mat-label>
                        <input type="text" matInput placeholder="Digite su telefono">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Nombre de usuario</mat-label>
                        <input type="text" matInput placeholder="Digite su nombre de usuario">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Contrasena</mat-label>
                        <input type="password" matInput placeholder="Digite su contrasena">
                    </mat-form-field>

                    <div class="container text-center">
                        <button mat-raised-button color="primary">Registrarme</button>
                        <button style="margin-left: 20px;" mat-raised-button color="accent">Limpiar campos</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>